
div#div_map_img_id{
    position: relative;
    border :dashed 1px #7b9cc4;
    width:640px;  
    height:480px; 
}
div#div_map_img_id>*{
    position: absolute;
}
canvas#cvn_bg_map_id{
    border:1px solid black; 
}
canvas#cvn_top_map_id{
    border:1px solid black; 
}


div#div_cam_img_id{
    position: relative;
    border:dashed 1px #7b9cc4;
    width:640px;  
    height:480px; 
}
div#div_cam_img_id>*{
    position: absolute;
}
canvas#cvn_bg_cam_id{
    border:1px solid black; 
}
canvas#cvn_top_cam_id{
    border:1px solid black; 
}

#dropzone {
	background-color: #cfc;
	border: solid 3px #9c9;
	color: #9c9;
	min-height: 50px;
	padding: 20px;
	text-shadow: 1px 1px 0 #fff;
}
#dropzone.dropover {
	background-color: #cff;
	color: #9cc;
}

#files:empty::before {
	color: #ccc;
	content: "(Files data will be shown here.)";
}
#files img {
	border: solid 1px #ccc;
	cursor: pointer;
	height: auto;
	margin: 0 10px;
	max-height: 128px;
	max-width: 128px;
	width: auto;
}


#init_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}
#drawmode_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}
#set_polygon_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}

#json_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;    
}
#clear_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;    
}
#clear_all_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;    
}
#restore_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;     
}
#open_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}
div#txt_log_id{
    font-size: 10px; 
    width:1fr;  
    height:120px; 
    border:1px solid black; 
    overflow:auto 
}
