body {
    display: grid;
    margin: 0;
    resize: both;
    min-height: 100vh;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "area_cntrl1     area_cntrl2"
        "area_map       area_cam  "
}

area_cntrl1 {
    grid-area: area_cntrl1;
}
area_cntrl2 {
    grid-area: area_cntrl2;
}
area_map {
    grid-area: area_map;
    border:1px solid black; 
}
area_cam {
    grid-area: area_cam;
    border:1px solid black; 
}
area_debug {
    grid-area: area_debug;
    border:1px solid black; 
}
div#div_map_img_id{
    position: relative;
    border :dashed 1px #7b9cc4;
    width:1fr;  
    height:1fr; 
}
div#div_map_img_id>*{
    position: absolute;
}
canvas#cvn_bg_map_id{
    border:1px solid black; 
}
canvas#cvn_top_map_id{
    border:1px solid black; 
}

div#div_cam_img_id{
    position: relative;
    border:dashed 1px #7b9cc4;
    width:1fr;  
    height:1fr; 
}
div#div_cam_img_id>*{
    position: absolute;
}
canvas#cvn_bg_cam_id{
    border:1px solid black; 
}
canvas#cvn_top_cam_id{
    border:1px solid black; 
}

#init_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}
#drawmode_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}
#set_polygon_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}

#json_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;    
}
#clear_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;    
}
#clear_all_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;    
}
#restore_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;     
}
#open_button_id {
    background-color: #E1F5A9;
    box-shadow: 1px 1px 2px;
}
div#txt_log_id{
    font-size: 10px; 
    width:1fr;  
    height:1fr; 
    border:1px solid black; 
    overflow:auto 
}
